# 2.01 - Group 0 - Yelp API - Business ID Search

In [1]:
import os
os.chdir('../../')

In [2]:
from sklearn.externals import joblib
from datetime import datetime
from urllib import urlencode
import lib.yelp_api as yp
import pandas as pd
import requests
import json
import re

### <span style="color:teal"> Load in Group </span>

In [3]:
yelp_df = joblib.load('data/mtch_srch_rslts_{}.pkl'.format(0))

In [4]:
yelp_df.head(1)

,search_name,search_address,bus_id,name,price,cat_1,cat_2,closed,address,city,zip_code,latitude,longitude
brew-you-los-angeles,BREW YOU COFFEE,808 S WESTERN AVE,brew-you-los-angeles,Brew You,$,coffee,icecream,False,808 S Western Ave,Los Angeles,90005,34.05699,-118.30869

### <span style="color:teal"> Business ID Requests </span>

In [5]:
bus_ids = yelp_df['bus_id'].values

In [6]:
ratings = yp.yelp_api_calls_business_id(bus_ids)

In [7]:
rating_dict = {}
for key, value in ratings.items():
    value_list = []
    value_list.append(value[0])
    value_list.append(value[1])
    value_set = set(value)
    for v in value_set:
        try:
            value_list.append(v[0])
            value_list.append(v[1])
            value_list.append(v[2])
        except:
            pass
        
        rating_dict[key] = value_list

In [8]:
columns_tuples = [('author_'+str(i), 'post_date_'+str(i), 'author_rating_'+str(i)) for i in range(0,40)]
individual_columns = [col for tup in columns_tuples for col in tup]

In [9]:
columns = ['num_reviews', 'avg_rating'] + individual_columns
reviews_df = pd.DataFrame(rating_dict.values(), 
                          index = rating_dict.keys(), 
                          columns = columns)

In [10]:
reviews_df.head()

,num_reviews,avg_rating,author_0,post_date_0,author_rating_0,author_1,post_date_1,author_rating_1,author_2,post_date_2,...,author_rating_36,author_37,post_date_37,author_rating_37,author_38,post_date_38,author_rating_38,author_39,post_date_39,author_rating_39
bontobagi-glendale,70,3.028571,Rose N.,2009-08-09,4,Dana N.,2009-12-21,4,M T.,2010-04-29,...,3.0,Sam N.,2015-06-25,2.0,Kar O.,2011-10-10,2.0,Stacy Y.,2015-09-07,1.0
boulevard-cafe-palmdale,33,4.090909,Jason M.,2017-01-21,5,Dee B.,2015-06-30,1,Brian B.,2016-10-15,...,NaN,None,None,NaN,None,None,NaN,None,None,NaN
brew-you-los-angeles,54,3.796296,Jaimie L.,2011-07-03,4,Jane L.,2014-04-12,5,Peter W.,2013-02-15,...,1.0,John F.,2015-03-22,4.0,Mark C.,2013-04-25,4.0,Ibrahim C.,2013-01-11,5.0
bibi-sara-woodland-hills,132,4.416667,Andrew M.,2013-02-05,5,Lynda H.,2016-10-30,5,Virginia D.,2016-08-02,...,4.0,Fabby H.,2016-11-04,5.0,Troy H.,2011-12-28,4.0,Baktash A.,2013-07-15,5.0
astro-karaoke-lomita,68,4.397059,Marco S.,2010-08-27,3,Mr M.,2016-03-21,4,Tory S.,2010-07-11,...,4.0,Sandie S.,2016-08-13,4.0,Tracy F.,2016-12-17,5.0,Michael K.,2015-09-25,5.0

In [15]:
yelp_data_reviews_df = pd.merge(yelp_df, reviews_df, 
                                left_index=True, 
                                right_index=True)

In [15]:
yelp_data_reviews_df.head()

,search_name,search_address,bus_id,name,price,cat_1,cat_2,closed,address,city,...,author_rating_36,author_37,post_date_37,author_rating_37,author_38,post_date_38,author_rating_38,author_39,post_date_39,author_rating_39
0,BREW YOU COFFEE,808 S WESTERN AVE,brew-you-los-angeles,Brew You,$,coffee,icecream,False,808 S Western Ave,Los Angeles,...,5,J M.,2011-10-03,4,Leonardo K.,2012-01-14,1,Chad F.,2012-02-07,5
1,BOULEVARD CAFE,2211 E PALMDALE BLVD,boulevard-cafe-palmdale,Boulevard Cafe,$,breakfast_brunch,cafes,False,2211 E Palmdale Blvd,Palmdale,...,4,Jennifer F.,2016-03-27,5,Valerie C.,2016-04-01,5,Nelson S.,2016-04-03,5
2,BIBI,4878 TOPANGA CANYON BLVD,bibi-sara-woodland-hills,Bibi Sara,$,persian,persian,False,4878 Topanga Canyon Blvd,Woodland Hills,...,5,Mary R.,2013-07-27,4,Steve E.,2013-08-02,5,Thomas K.,2013-08-22,5
3,BONTOBAGI,831 N PACIFIC AVE,bontobagi-glendale,Bontobagi,$$,korean,korean,False,831 N Pacific Ave,Glendale,...,4,Carina L.,2011-10-07,3,Kar O.,2011-10-10,2,Marina S.,2011-11-17,4
4,ASTRO,2150 LOMITA BLVD,astro-karaoke-lomita,Astro Karaoke,$$,karaoke,japanese,False,2150 Lomita Blvd,Lomita,...,5,Charles K.,2011-04-01,5,Duke C.,2011-05-12,4,Hiroshi S.,2011-07-16,5

In [16]:
joblib.dump(yelp_data_reviews_df, 'data/yelp_data_reviews_df_{}.pkl'.format(0))

['data/yelp_data_reviews_df_0.pkl']

In [28]:
yelp_final_df['name'] = yelp_final_df['name'].str.replace(u'ñ', 'n')
yelp_final_df['name'] = yelp_final_df['name'].str.replace(u'°C', ' celsius')
yelp_final_df['name'] = yelp_final_df['name'].str.replace(u'Ü', 'u')
yelp_final_df['name'] = yelp_final_df['name'].str.replace(u'ü', 'u')
yelp_final_df['name'] = yelp_final_df['name'].str.replace(u'é', 'e')
yelp_final_df['name'] = yelp_final_df['name'].str.replace(u'è', 'e')
yelp_final_df['name'] = yelp_final_df['name'].str.replace(u'重', '')
yelp_final_df['name'] = yelp_final_df['name'].str.replace(u'庆', '')
yelp_final_df['name'] = yelp_final_df['name'].str.replace(u'小', '')
yelp_final_df['name'] = yelp_final_df['name'].str.replace(u'面', '')
yelp_final_df['name'] = yelp_final_df['name'].str.replace(u'ö', 'o')
yelp_final_df['name'] = yelp_final_df['name'].str.replace(u'á', 'a')
yelp_final_df['name'] = yelp_final_df['name'].str.replace(u'á', 'a')

In [29]:
yelp_final_df['name'] = yelp_final_df['name'].str.replace(' & ', ' and ')
yelp_final_df['search_name'] = yelp_final_df['search_name'].str.replace(' & ', ' and ')

In [30]:
yelp_final_df['search_address'] = yelp_final_df['search_address'].str.replace(' N ', ' ')
yelp_final_df['address'] = yelp_final_df['address'].str.replace(' N ', ' ')
yelp_final_df['search_address'] = yelp_final_df['search_address'].str.replace(' E ', ' ')
yelp_final_df['address'] = yelp_final_df['address'].str.replace(' E ', ' ')
yelp_final_df['search_address'] = yelp_final_df['search_address'].str.replace(' S ', ' ')
yelp_final_df['address'] = yelp_final_df['address'].str.replace(' S ', ' ')
yelp_final_df['search_address'] = yelp_final_df['search_address'].str.replace(' W ', ' ')
yelp_final_df['address'] = yelp_final_df['address'].str.replace(' W ', ' ')

In [ ]:
rest_df = joblib.load('data/rest_group_df.pkl')