# 1.03 Splitting Data for API Calls

In [1]:
import os
os.chdir('../')

In [2]:
from sklearn.externals import joblib
import pandas as pd

### I. Split County Data

I'm going to split my data into 10 separate groups, so I can call on the Yelp API without getting in trouble (limit is 25,000).

In [3]:
rest_df = joblib.load('data/rest_group_df.pkl')

In [4]:
rest_df.head()

,facility,address,city,zip_cd,num_at_address,max_seats,phone,risk_level,last_inspect_date,inspect_score,cat
0,#1 CAFE,2080 CENTURY PARK E,LOS ANGELES,90067,1,30,+1nan,3,08/18/2016,90.0,None
1,#1 CHINESE FAST FOOD,8606 S VERMONT AVE,LOS ANGELES,90044,1,30,+12132358779,3,08/10/2016,92.0,None
2,#1 DONUT,8509 S FIGUEROA ST,LOS ANGELES,90003,2,30,+1nan,2,05/17/2016,98.0,None
3,#1 DONUTS,8509 S FIGUEROA ST,LOS ANGELES,90003,2,30,+16266957898,2,07/26/2016,91.0,None
4,#1. JUICY DUMPLING,140 W VALLEY BLVD,SAN GABRIEL,91776,19,60,+16262164207,3,11/02/2016,92.0,None

In [5]:
split_num = len(rest_df['facility'])/10

In [6]:
split_num

3095

In [7]:
for i in range(10):
    split_df = rest_df.iloc[i * split_num:(i + 1) * split_num]
    joblib.dump(split_df, 'data/rest_group_{}_df.pkl'.format(i))